<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicHub - басты бет</title>
    <link rel="stylesheet" href="{{ url_for('static', path='stylelight.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='heart_icon-icons.com_50374.png') }}" height="30" width="30">
    <script defer src="{{ url_for('static', path='script.js') }}"></script>
</head> 
<body>
  <div id="header_size">
    <div id="header">
        <div class="header_block1">
            <h2><a href="kazdark.html">MUSICHUB</a></h2>
        </div> 

        <div class="header_block2">
            <a href="kazdarkmusicians.html">Тұтынушыларға</a>
            <a href="kazdarkcustomers.html">Әртістерге</a> 
            <a href="kazdarkevents.html">Оқиғалар</a> 
        </div>

        <div class="header_space_block"></div>

        <div class="header_block3">
            <a href="kazlightmusicians.html" class="kazakh_language" style="color: white !important;">kz</a> /
            <a href="ruslightmusicians.html" class="language" >ru</a>
        </div>

        <div class="header_block4">
        <a href="kazdarkmusicians.html"><img src="{{ url_for('static', path='images/sun-regular.svg') }}" height="30" width="30" alt="sun"></a> 
        <div class="menu" onclick="toggleMenuOverlay()"><img src="{{ url_for('static', path='images/bars-solid.svg') }}" height="30" width="30" alt="menu"></div>
        </div>
    </div>
</div>  

    <div id="lmenuOverlay" onclick="togglelmenuOverlay()">
        <div class="menuContent">
            <ul>
                <li><a href="kazlightmain.html">Басты бет</a></li>
                <li><a href="kazlightaccount.html">Кіру / Тіркелу</a></li>
                <li><a href="kazlightevents.html">Оқиғалар</a></li>
                <li><a href="kazlightquestions.html">Жиі қойылатын сұрақтар</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div id="cards_size">
        <div class="card-container">
            <div class="card">
              <img src="{{ url_for('static', path='images/group1.jpg') }}" alt="Группа 1" class="card-image">
              <div class="card-content">
                <div class="group-info">
                  <h2 class="group-name">Metallica</h2>
                  <div class="rating">
                    <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                    <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                    <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                    <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                    <img src="{{ url_for('static', path='images/star-regular.svg') }}" alt="empty star" class="star">
                  </div>
                </div>
                <p class="group-specialization">Тақырыптық іс-шаралар / Металл тобы</p>
                <p class="group-location">Алматы, Казақстан</p>
                <p class="group-description">Барлық жобаларға барынша пайда! Көрермендердің кепілдендірілген қуанышы және аңызға айналған топтың ұмытылмас естеліктері.</p>
                <a class="transparent-button" href="kazlightg1.html">Өту</a>
              </div>
            </div>
          
            <div class="card">
                <img src="{{ url_for('static', path='images/acdc.jpg') }}" alt="Группа 2" class="card-image">
                <div class="card-content">
                  <div class="group-info">
                    <h2 class="group-name">AC/DC</h2>
                    <div class="rating">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="empty star" class="star">
                    </div>
                  </div>
                  <p class="group-specialization">Жеке және тақырыптық іс-шаралар / Рок тобы</p>
                  <p class="group-location">Ақтөбе, Казақстан</p>
                  <p class="group-description">Жігерлі рифтер мен әуезді мотивтердің қоспасы. Бізбен бірге дыбыс пен эмоцияның жаңа әлемін ашыңыз!</p>
                  <a class="transparent-button" href="kazlightg2.html">Өту</a>
                </div>
            </div>


            <div class="card">
                <img src="{{ url_for('static', path='images/nirvana.jpg') }}" alt="Группа 3" class="card-image">
                <div class="card-content">
                  <div class="group-info">
                    <h2 class="group-name">Nirvana</h2>
                    <div class="rating">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="empty star" class="star">
                    </div>
                  </div>
                  <p class="group-specialization">Тақырыптық және жеке іс-шаралар / Рок тобы</p>
                  <p class="group-location">Алматы, Казақстан</p>
                  <p class="group-description">Классикалық жанрларға инновациялық көзқарас. Біз жүректер мен ойларға әсер ететін музыка жасаймыз. </p>
                  <a class="transparent-button" href="kazlightg3.html">Өту</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', path='images/arctik.jpg') }}" alt="Группа 4" class="card-image">
                <div class="card-content">
                  <div class="group-info">
                    <h2 class="group-name">Arctic Monkeys</h2>
                    <div class="rating">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-regular.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-regular.svg') }}" alt="empty star" class="star">
                    </div>
                  </div>
                  <p class="group-specialization">Акустикалық концерттер, жеке іс-шаралар / Инди-рок, постпанк жандануы</p>
                  <p class="group-location">Астана, Казақстан</p>
                  <p class="group-description">Фанктен хип-хопқа дейінгі стильдердің эклектикалық қоспасы. Біздің музыка - шабыттандыратын өнер.</p>
                  <a class="transparent-button" href="kazlightg4.html">Өту</a>
                </div>
            </div>


            <div class="card">
                <img src="{{ url_for('static', path='images/91.jpg') }}" alt="Группа 5" class="card-image">
                <div class="card-content">
                  <div class="group-info">
                    <h2 class="group-name">Ninety One</h2>
                    <div class="rating">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-regular.svg') }}" alt="empty star" class="star">
                    </div>
                  </div>
                  <p class="group-specialization">Жастардың әлеуметтік іс-шаралары/Поп, Q-pop, EDM </p>
                  <p class="group-location">Шымкент, Казақстан</p>
                  <p class="group-description">Шынайы эмоциялар атмосферасын құратын музыка мен мәтіннің үйлесімі. Біздің музыкалық сапарымызды ашыңыз.</p>
                  <a class="transparent-button" href="kazlightg5.html">Өту</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', path='images/dos.jpeg') }}" alt="Группа 6" class="card-image">
                <div class="card-content">
                  <div class="group-info">
                    <h2 class="group-name">Дос Муқасан</h2>
                    <div class="rating">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="filled star" class="star">
                      <img src="{{ url_for('static', path='images/star-solid.svg') }}" alt="empty star" class="star">
                    </div>
                  </div>
                  <p class="group-specialization">Патриоттық концерттер / қазақ вокалдық-аспаптық ансамблі</p>
                  <p class="group-location">Павлодар, Казақстан</p>
                  <p class="group-description">Сіздің жаныңыздың әрбір ұяшығына енетін импульсивті ырғақтар. Біздің музыкамыз-дыбыстарда бейнеленген өнер.</p>
                  <a class="transparent-button" href="kazlightg6.html">Өту</a>
                </div>
            </div>

          </div>
          
    </div>


    <div id="footer">
      <h2>MUSIC HUB FOREVER</h2>
      <hr color= "#92774d">
      <p>
          Бізге сенеді:
          <br>Мартынцов Н.В.    Хабиев Ж.К.    Ескожа С.А    Мырзахнова С.К.    Сариева А.М     
          <br>және тағы да басқа аңыз адамдар.
      </p>
          <hr color= #222222>
      <div id="footer_images">
          <img src="{{ url_for('static', path='images/fb.png') }}">
        <img src="{{ url_for('static', path='images/twitter (2).png') }}">
        <img src="{{ url_for('static', path='images/insta (1).png') }}">
        <img src="{{ url_for('static', path='images/whatsapp.png') }}">
      </div>
  </div>

</body>
</html>

